<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<br>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input id="id" type="hidden" th:field="*{id}">
    <label for="firstname">First Name:
        <input id="firstname" type="text" th:field="*{firstName}" th:value="${user.getFirstName()}">
    </label> <br>
    <label for="lastname">Last Name:
        <input id="lastname" type="text" th:field="*{lastName}" th:value="${user.getLastName()}">
    </label> <br>
    <label for="age">Age:
        <input id="age" type="text" th:field="*{age}" th:value="${user.getAge()}">
    </label> <br>
    <label for="email">Email:
        <input id="email" type="text" th:field="*{email}" th:value="${user.getEmail()}">
    </label> <br>
    <hr>
    <input type="submit" value="Update">
</form>
<br>

</body>
</html>