<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstname">First Name:
        <input id="firstname" type="text" th:field="*{firstName}" placeholder="enter the user first name">
    </label> <br>
    <label for="lastname">Last Name:
        <input id="lastname" type="text" th:field="*{lastName}" placeholder="enter the user's last name">
    </label> <br>
    <label for="age">Age:
        <input id="age" type="text" th:field="*{age}" placeholder="enter the user's age">
    </label> <br>
    <label for="email">Email:
        <input id="email" type="text" th:field="*{email}" placeholder="enter the user's email">
    </label> <br>
    <hr>
    <input type="submit" value="Create!">
</form>

</body>
</html>